Importando e Lendo DataFrame Sellers

In [27]:
import pandas as pd

caminho = 'DataSet_brazilian-ecommerce\olist_sellers_dataset.csv'

df = pd.read_csv(caminho)

Mostrando as primeiras linhas de dados

In [28]:
df.head()

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP

Convertendo Cidades  e Estados para maiusculas e agrupando

In [30]:
df['seller_city'] = df['seller_city'].str.lower()

grupo_cidades = df.groupby('seller_city').agg({'seller_city': 'count'})

grupo_cidades.head(20)

                      seller_city
seller_city
04482255                        1
abadia de goias                 1
afonso claudio                  1
aguas claras df                 1
alambari                        1
alfenas                         2
almirante tamandare             1
alvares machado                 1
alvorada                        1
americana                      10
amparo                          5
ampere                          1
anapolis                        3
andira-pr                       1
andradas                        2
angra dos reis                  1
angra dos reis rj               1
ao bernardo do campo            1
aparecida                       1
aparecida de goiania            1

In [ ]:
df['seller_state'] = df['seller_state'].str.lower()