Importando e Lendo DataFrame Sellers

In [24]:
import pandas as pd

caminho = 'DataSet_brazilian-ecommerce\olist_sellers_dataset.csv'

df = pd.read_csv(caminho)

Mostrando as primeiras linhas de dados

In [25]:
df.head()

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP

Importando regex e instalando unicode para mover acentos

In [26]:
import re
from unidecode import unidecode

Convertendo Cidades para minúsculas, excluindo acentos, siglas de estado e espaços

In [27]:
def clean_city(seller_city):
    seller_city = unidecode(seller_city).lower()

    # Remover siglas de estado
    seller_city = re.sub(r'\(.*\)', '', seller_city)

    # Remover espaços
    seller_city = re.sub(r'\s+', ' ', seller_city).strip()
    
    return seller_city

Aplicando a função de limpeza à coluna de cidade (seller_city) e confirmar a criação da coluna com dados limpos

In [36]:
df['clean_seller_city'] = df['seller_city'].apply(clean_city)


df.head()

,seller_id,seller_zip_code_prefix,seller_city,seller_state,clean_seller_city
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP,campinas
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP,mogi guacu
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ,rio de janeiro
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP,sao paulo
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP,braganca paulista

Agrupar as cidades para na sequência confirmar se o agrupamento foi realizado com sucesso

In [35]:
agrupar_cidades = df['clean_seller_city'].value_counts()

print(agrupar_cidades)

clean_seller_city
sao paulo              696
curitiba               127
rio de janeiro          96
belo horizonte          68
ribeirao preto          52
                      ...
pirassununga             1
taruma                   1
s jose do rio preto      1
domingos martins         1
leme                     1
Name: count, Length: 606, dtype: int64

Agrupar as UFs para na sequência confirmar se o agrupamento foi realizado com sucesso

In [37]:
agrupar_ufs = df['seller_state'].value_counts()

print(agrupar_ufs)

seller_state
SP    1849
PR     349
MG     244
SC     190
RJ     171
RS     129
GO      40
DF      30
ES      23
BA      19
CE      13
PE       9
PB       6
RN       5
MS       5
MT       4
RO       2
SE       2
PI       1
AC       1
MA       1
AM       1
PA       1
Name: count, dtype: int64